body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #ff69b4, #F48FB1,#ffe1ff); 
    color: #fff;
}

header {
    color:#b10058;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 32px;
}

#container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.search-form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b10058;
    color: #fff;
    border: none;
    cursor: pointer;
}

.profile-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile {
    width: 200px;
    margin: 30px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #b10058;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.profile:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    height: auto;
}

#detalle {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}